body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgba(102, 50, 20, 0.248);
}
#room-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

#back{
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 20px;
}
#button-back{
    font-size: 1.3rem;
    background-color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
}

#page-title{
    margin: 0;
    margin-bottom: 50px;
    font-size: 3rem;
}

#create-room-btn{
    width: 55%;
    height: 150px;
    padding: 25px;
    margin-bottom: 20px;

    font-size: 1.2rem;
    cursor: pointer;
    background-color: aqua;
}
#join-room{
    border: 1.8px solid black;
    padding: 20px 20px;
    width: 55%;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: aqua;
}
#join-title{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
}
#error-msg{
    color: red;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 4px;
    visibility: hidden;
}
#room-code-input{
    padding: 12px;
    font-size: 1rem;
}
#join-room-btn{
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
}
button{
    transition: 0.2s;
}
button:hover{
    opacity: 0.8;
}